
.whiteboard-border {
	border: .3em solid #000;
}

.extra-top-margin {
	margin: 45px;
}

.neg-margin-bottom {
	margin-bottom: -22px;
}

.top-margin {
	margin:15px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.timestamp{
	color:#999999;
	font-size:11px;
	line-height:15px;
}

.navbar a:hover {
	background-color: #AAA !important;
}